<div class="row pageContent">
  <div class="col-6">
    <app-resource-utilization></app-resource-utilization>
  </div>

  <div class="col-6">
    <app-resource-utilisation-functions></app-resource-utilisation-functions>
  </div>
</div>
<!--<div class="row pageContent">
    <div class="col-12">
        <app-quality-metrics></app-quality-metrics>
    </div>
    </div>-->

<div class="row pageContent">
  <div class="col-6">
    <app-training-compliance></app-training-compliance>
  </div>
  <div class="col-6">
    <app-resource-skill-level></app-resource-skill-level>
  </div>
</div>
