<div class="row" style="align-items: baseline;" >
   <div class="col-4">
   <app-Fin21></app-Fin21>
   </div>
   <div class="col-4">
      <app-Fin22></app-Fin22>
   </div>
   <div class="col-4">
      <app-Fin23>
      </app-Fin23>
   </div>
   <div class="col-4">
      <app-Fin24></app-Fin24>
   </div>
   <div class="col-4">
      <app-Fin25></app-Fin25>
   </div>
   <div class="col-4">
      <app-Fin26></app-Fin26>
   </div>
   <div class="col-4">
      <app-Fin27></app-Fin27>
   </div>
   <div class="col-4">
      <app-Fin28></app-Fin28>
   </div>
   <div class="col-4">
      <app-Fin29></app-Fin29>
   </div>
   <div class="col-4">
      <app-Fin30></app-Fin30>
   </div>
   <div class="col-4">
      <app-Fin31></app-Fin31>
   </div>
   <div class="col-4">
      <app-Fin32></app-Fin32>
   </div>
   <div class="col-4">
      <app-Fin33></app-Fin33>
   </div>
   <div class="col-4">
      <app-Fin34></app-Fin34>
   </div>
   <div class="col-4">
      <app-Fin35></app-Fin35>
   </div>
   <div class="col-4">
      <app-Fin36></app-Fin36>
   </div>
   <div class="col-4">
      <app-Fin37></app-Fin37>
   </div>
   <div class="col-4">
      <app-Fin38></app-Fin38>
   </div>
   </div>



































<!-- <div class="table-chart-container">
    <div id="fi10" style="width: 100%; height: 2200px; "></div>
   
   
   <br />

    <table class="table1">
        <thead>
        <tr>
            <th>Programs</th>
            <th style="background-color: #5585e7;">SOW(Planned)</th>
            <th style="background-color:#b3df56 ">Consumed</th>
            <th style="background-color: #2ecc71 ;">Forecast</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>IPT</td>
                <td style="background-color: #ddeef9">$287.3k</td>
                <td style="background-color: #eef6c1">$272.9k</td>
                <td style="background-color: #ebfbea">$14.4k</td>
              </tr> 
              <tr>
                <td>EU MDR</td>
                <td style="background-color: #ddeef9">$385.3k</td>
                <td style="background-color: #eef6c1">$352.2k</td>
                <td style="background-color: #ebfbea">$33.0k</td>
              </tr> 
              <tr>
                <td>GMI</td>
                <td style="background-color: #ddeef9">$157.6k</td>
                <td style="background-color: #eef6c1">$154.6k</td>
                <td style="background-color: #ebfbea">$3.0k</td>
              </tr>
              <tr>
               <td>PFAS</td>
               <td style="background-color: #ddeef9">$105.3k</td>
               <td style="background-color: #eef6c1">$96.2k</td>
                   <td style="background-color: #ebfbea">$9.0k</td>
             </tr> 
             <tr>
               <td>ATE Validation</td>
               <td style="background-color: #ddeef9">$45.1k</td>
               <td style="background-color: #eef6c1">$45.1k</td>
                   <td style="background-color: #ebfbea">$0</td>
             </tr> 
             <tr>
               <td>System verification</td>
               <td style="background-color: #ddeef9">$16.3k</td>
               <td style="background-color: #eef6c1">$16.3k</td>
                   <td style="background-color: #ebfbea">$0</td>
             </tr>  
          <tr>
            <td>Mobile Ops Hercules</td>
            <td style="background-color: #ddeef9">$441.9k</td>
            <td style="background-color: #eef6c1">$179.4k</td>
                <td style="background-color: #ebfbea">$262.4k</td>
          </tr> 
            <tr>
           <td>Sapphire-Jupiter-Sustainence</td>
           <td style="background-color: #ddeef9">$353.4k</td>
           <td style="background-color: #eef6c1">$155.9k</td>
                <td style="background-color: #ebfbea">$197.4k</td>
            </tr>   
            <tr>
                <td>Hercules</td>
                <td style="background-color: #ddeef9">$1,459.8k</td>
                <td style="background-color: #eef6c1">$915.0k</td>
                <td style="background-color: #ebfbea">$344.7k</td>
             </tr>  
             <tr>
                <td>CloudOps</td>
                <td style="background-color: #ddeef9">$783.6k</td>
                <td style="background-color: #eef6c1">$326.5k</td>
                <td style="background-color: #ebfbea">$457.1k</td>
             </tr>  
             <tr>
                <td>MobileOps-Marketing-Expansion</td>
                <td style="background-color: #ddeef9">$299.5k</td>
                <td style="background-color: #eef6c1">$124.7k</td>
                <td style="background-color: #ebfbea">$174.7k</td>
             </tr> 
             <tr>
                <td>OrionMRI-FW1.3</td>
                <td style="background-color: #ddeef9">$66.6k</td>
                <td style="background-color: #eef6c1">$66.6k</td>
                <td style="background-color: #ebfbea">$0</td>
             </tr> 
             <tr>
                <td>OrionMRI-Telemetry</td>
                <td style="background-color: #ddeef9">$242.3k</td>
                <td style="background-color: #eef6c1">$242.3k</td>
                <td style="background-color: #ebfbea">$0</td>
             </tr> 
             <tr>
                <td>Mypath</td>
                <td style="background-color: #ddeef9">$529.5k</td>
                <td style="background-color: #eef6c1">$244.4k</td>
                <td style="background-color: #ebfbea">$285.1k</td>
             </tr> 
             <tr>
                <td>Remote Care</td>
                <td style="background-color: #ddeef9">$172.6k</td>
                <td style="background-color: #eef6c1">$71.9k</td>
                <td style="background-color: #ebfbea">$100.7k</td>
             </tr> 
             <tr>
                <td>CAPEX</td>
                <td style="background-color: #ddeef9">$296.2k</td>
                <td style="background-color: #eef6c1">$203.9k</td>
                <td style="background-color: #ebfbea">$92.3k</td>
             </tr> 
             <tr>
               <td>Hercules-Mark-Sustainence</td>
               <td style="background-color: #ddeef9">$421.3k</td>
               <td style="background-color: #eef6c1">$85.4k</td>
               <td style="background-color: #ebfbea">$335.9k</td>
            </tr>  
             <tr>
                <td>Deployment Contractor</td>
                <td style="background-color: #ddeef9">$57.3k</td>
                <td style="background-color: #eef6c1">$52.5k</td>
                <td style="background-color: #ebfbea">$4.7k</td>
             </tr>  
        </tbody>
    </table>
    </div>   -->