<div class="row" style="align-items: baseline;" >
   <div class="col-4">
   <app-Ipt></app-Ipt>
   </div>
   <div class="col-4">
   <app-Gmi></app-Gmi>
   </div>
   <div class="col-4">
   <app-Artms></app-Artms> 
   </div>
   <div class="col-4">
   <app-Cloudops></app-Cloudops>
   </div>
   <div class="col-4">
   <app-Mobileops></app-Mobileops>
   </div>
   <div class="col-4">
   <app-Mobileopshercules></app-Mobileopshercules>
   </div>
   <div class="col-4">
   <app-Hercules></app-Hercules>
   </div>
   <div class="col-4">
   <app-Remote></app-Remote>
   </div>
   <div class="col-4">
   <app-Capex></app-Capex>
   </div>
   <div class="col-4">
   <app-Sfintegration></app-Sfintegration>
   </div>
   <div class="col-4">
   <app-Sapphire></app-Sapphire>
   </div>
   <div class="col-4">
   <app-Lanai></app-Lanai>
   </div>
   <div class="col-4">
   <app-Lyra></app-Lyra>
   </div>
   <div class="col-4">
   <app-Neuro></app-Neuro>
   </div>
   </div>