<div class="row">
    <div class="col-3">
            <mat-card>
                <div class="row">
                    <div class="col-4">
                        <img src="assets/img/d1.svg"/>
                    </div>
                    <div class="col-8">
                        <div class="textRight">
                            <h1 class="numberCount">4098</h1>
                            <mat-card-subtitle class="mb-2">Audited Assets</mat-card-subtitle>
                        </div>
                    </div>
                </div>
            </mat-card>
    </div>
    <div class="col-3">
        <mat-card>
            <div class="row">
                <div class="col-3">
                    <img src="assets/img/d2.svg"/>
                </div>
                <div class="col-9">
                    <div class="textRight">
                        <h1 class="numberCount">3998</h1>
                        <mat-card-subtitle class="mb-2">Found Assets</mat-card-subtitle>
                    </div>
                </div>
            </div>
        </mat-card>
</div>
<div class="col-3">
    <mat-card>
        <div class="row">
            <div class="col-4">
                <img src="assets/img/d2.svg"/>
            </div>
            <div class="col-8">
                <div class="textRight">
                    <h1 class="numberCount">100</h1>
                    <mat-card-subtitle class="mb-2">Missing Assets</mat-card-subtitle>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div class="col-3">
    <mat-card>
        <div class="row">
            <div class="col-4">
                <img src="assets/img/d3.svg"/>
            </div>
            <div class="col-8">
                <div class="textRight">
                    <h1 class="numberCount">2</h1>
                    <mat-card-subtitle class="mb-2">Additional Assets</mat-card-subtitle>
                </div>
            </div>
        </div>
    </mat-card>
</div>
</div>