.table-chart-container {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-between;
  
}
.table1{
      
    font-size: 11px;
    width: 100%;
    align-items: flex-end;
   
    ;
    th, td {
     
      padding: 4px;
      text-align: left;
      align-items: flex-end;
      border-bottom: 1px solid #f2f2f2;
    }
   
  }
  .id{
    align-items: flex-end;
  }