<div class="table-chart-container">
<div id="fi3" style="width: 100%; height: 500px"></div>
<table  class="table1" content="width=device-width">
    <thead>
      <tr>
        <th>Programs</th>
        <th style="background-color: #5585e7;">SOW</th>
        <th style="background-color: #7bb6e3;">Consumed Programs</th>
        <th style="background-color:#b3df56 ">Consumed</th>
        <th style="background-color: #2ecc71 ;">Forecast</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td >ORCA</td>
        <td style="background-color: #ddeef9">$766.8k</td>
        <td style="background-color: #bad2e7;">ORCA</td> 
        <td style="background-color: #eef6c1">$766.8k</td>
        <td style="background-color: #ebfbea">$0</td>
      </tr>
      <tr>
        <td>Brooklyn Bridge Sustanenece</td>
        <td style="background-color: #ddeef9">$142.5k</td>
        <td style="background-color: #bad2e7;">Brooklyn Bridge Sustanenece</td>
        <td style="background-color: #eef6c1">$142.5K</td>
        <td style="background-color: #ebfbea">$0</td>
        
      </tr>
      <tr>
        <td >Sappphire-Onyx </td>
        <td style="background-color: #ddeef9">$278.7k</td>
        <td style="background-color: #bad2e7;">Cloud Ops 1</td>
        <td style="background-color: #eef6c1">$278.7k</td>
        <td style="background-color: #ebfbea">$0</td>
      </tr>
      <tr>
        <td >Hercules-AD </td>
        <td style="background-color: #ddeef9">$474.0k</td>
        <td style="background-color: #bad2e7;">Hercules-AD</td>
        <td style="background-color: #eef6c1">$474.0k</td>
        <td style="background-color: #ebfbea">$0</td>
      </tr>

      <tr>
        <td rowspan="3">Hercules-2</td>
        <td rowspan="3" style="background-color: #ddeef9">$445.2k</td>
        <td style="background-color: #bad2e7;">Hercules-NPD</td>
        <td style="background-color: #eef6c1">$332.2k</td>
        <td rowspan="3" style="background-color: #ebfbea">$0</td>
      </tr>
      <tr>
        <td style="background-color: #bad2e7;">ORCA </td>
        <td style="background-color: #eef6c1">$19.9k</td>
      </tr>
      <tr>
        <td style="background-color: #bad2e7;" >Sappphire-Onyx </td>
        <td style="background-color: #eef6c1">$92.9k</td>
      </tr>
     
      
    </tbody>
  </table>
</div>