.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #3f51b5 ;
}

.mat-input-element {
    color: #333333 !important;
}

.radio-buttons {
    .mat-radio-button {
        margin-right: 15px;
    }
    & > *:last-child {
        margin-right: 0;
    }
}

/* radio */
/* Rounded sliders */
.slider {
    position          : absolute;
    cursor            : pointer;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color  : #ccc;
    -webkit-transition: .4s;
    transition        : .4s;

    &:before {
        position          : absolute;
        content           : "";
        height            : 18px;
        width             : 18px;
        left              : 4px;
        bottom            : 4px;
        background-color  : white;
        -webkit-transition: .4s;
        transition        : .4s;
    }

    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

input {
    &:checked+.slider {
        background-color: #006BB6;

        :before {
            -webkit-transform: translateX(18px);
            -ms-transform    : translateX(18px);
            transform        : translateX(18px);
        }
    }

    &:focus+.slider {
        box-shadow: 0 0 1px #006BB6;
    }

    &:checked+.slidertxt {
        background-color: #2ab934;

        &:after {
            content: 'ON';
            left   : 30%;
        }
    }

    &:checked+.slidertxt2 {
        background-color: #006BB6;

        &:after {
            content: 'ON';
            right  : -38px;
            color  : #006bb6;
        }
    }

    &:checked+.slidertxt:before,
    &:checked+.slidertxt2:before {
        -webkit-transform: translateX(31px);
        -ms-transform    : translateX(31px);
        transform        : translateX(31px);
    }

    &:focus+.slidertxt,
    &:focus+.slidertxt2 {
        box-shadow: 0 0 1px #006BB6;
    }
}

.slidertxt,
.slidertxt2 {
    position          : absolute;
    cursor            : pointer;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color  : #AAAAAA;
    -webkit-transition: .4s;
    transition        : .4s;
    border-radius     : 34px;

    &:before {
        position          : absolute;
        content           : "";
        height            : 20px;
        width             : 20px;
        left              : 4px;
        bottom            : 4px;
        background-color  : white;
        -webkit-transition: .4s;
        transition        : .4s;
        border-radius     : 50%;
    }

    &:after {
        content  : 'OFF';
        display  : block;
        position : absolute;
        transform: translate(-50%, -50%);
        top      : 50%;
    }
}

.slidertxt {
    &:after {
        color    : white;
        left     : 60%;
        font-size: 12px;
    }
}

.slidertxt2 {
    &:after {
        color: #7b7676;
        right: -42px;
    }
}

.switch {
    position: relative;
    display : inline-block;
    width   : 44px;
    height  : 25px;

    input {
        opacity: 0;
        width  : 0;
        height : 0;
    }
}

.switchtext,
.switchtext2 {
    position: relative;
    display : inline-block;
    width   : 60px;
    height  : 28px;

    input {
        display: none;
    }
}

.radioactive,
.radioinactive {
    min-width    : 80px;
    height       : 70px;
    margin-bottom: 10px;
    padding      : 1.5rem 1.4rem;
    font-size    : 1.25rem;
    border-radius: 0.3rem;
    line-height  : 1.5;
    display      : inline-block;
    text-align   : center;
}

.radioactive {
    background: white;
    color     : #006BB6;
    border    : 1px solid #006BB6;
}

.radioinactive {
    background: #f0f0f0;
    color     : #c0c0c0;
    border    : 1px solid #c0c0c0;
}

.radioactive,
.radioinactive:hover {
    cursor: default;
}

.mat-form-field {
    width: 100%;

    &.header-pickdate {
        display    : flex;
        align-items: center;
        width      : 110px;

        .mat-form-field-wrapper {
            padding-bottom: 0;

            .mat-form-field-flex {
                align-items: center;
            }
        }

        .mat-form-field-infix {
            padding   : 0;
            border-top: 0;
        }
    }

    &.header-picktime {
        width: 90px;
    }
}

.input-group.mat-input-group .mat-form-field {
    flex : 1 1 auto;
    width: 1%;
}

.input-group.mat-input-group .input-group-append,
.input-group.mat-input-group .input-group-prepend {
    display: flex;
}

.input-group.mat-input-group .input-group-append .mat-form-field,
.input-group.mat-input-group .input-group-prepend .mat-form-field {
    padding: .375rem 0;
}

.input-group.mat-input-group .input-group-append .mat-form-field .mat-form-field-infix,
.input-group.mat-input-group .input-group-prepend .mat-form-field .mat-form-field-infix {
    width: 80px;
}

.input-group.mat-input-group .input-group-prepend>*,
.input-group.mat-input-group .input-group-append>* {
    display    : flex;
    align-items: center;
    padding    : .375rem 0.6rem;
    margin     : 0;
}

.input-group.mat-input-group .input-group-append>*,
.input-group.mat-input-group .input-group-prepend>*:not(:first-child),
.input-group.mat-input-group .input-group-append .mat-form-field .mat-form-field-outline-start,
.input-group.input-for-if-prepend .input-group-prepend+.mat-form-field .mat-form-field-outline-start {
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
}

.input-group.mat-input-group .input-group-prepend>*,
.input-group.mat-input-group .input-group-append>*:not(:last-child),
.input-group.mat-input-group .input-group-prepend .mat-form-field .mat-form-field-outline-end,
.input-group.input-for-if-append .mat-form-field .mat-form-field-outline-end {
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0;
}

.input-group.input-for-if-append .mat-form-field .mat-form-field-outline-end {
    border-right: 0;
}

.input-group.input-for-if-append .mat-form-field + .input-group-append {
    margin: 3.1px 0;
    height: 52px;
}

.input-group.mat-input-group .input-group-prepend,
.input-group.mat-input-group .input-group-append {
    margin  : 4px 0;
    position: relative;
}

.input-group.fileUploader .input-group-append {
    margin: 0;
}

.input-group {
    &.multi-ngselect-location {
        .mat-form-field-appearance-outline {
            .mat-form-field-flex {
                padding: 0 0 0 .75em;
            }

            .mat-form-field-suffix {
                top: .45em;
            }

            .mat-form-field-wrapper {
                margin: 0.1em 0 .25em;
            }
        }

        .input-group-prepend {
            .mat-form-field {
                padding: 0 0 .375rem;

                .mat-form-field-infix {
                    width     : 41px;
                    border-top: 0;
                    padding   : 1.6em 0 1.3em 0;
                }
            }
        }

        .input-group-prepend+.ng-select {
            .ng-select-container {
                .ng-value-container {
                    padding   : 0 0 .25em !important;
                    border-top: 1.2em solid transparent;
                }
            }
        }

        .input-group-prepend,
        .input-group-append {
            margin: 3px 0;
        }

        .input-group-prepend>*,
        .input-group-append>* {
            align-items: flex-start;
        }

        .ng-select {
            .ng-select-container.ng-appearance-outline:after {
                border-top-left-radius   : 0 !important;
                border-bottom-left-radius: 0 !important;
            }

            &.ng-select-multiple {
                .ng-select-container {
                    .ng-value-container {
                        .ng-input {
                            line-height: 1.125;
                        }

                        .ng-placeholder {
                            padding-top: 6px;
                        }
                    }
                }

                &.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder,
                &.ng-select-container.ng-has-value .ng-value-container .ng-placeholder {
                    padding-top: 0;
                }
            }
        }
    }
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value,
.mat-chip {
    margin          : 3px 4px !important;
    display         : flex;
    background-color: #ebebeb !important;
    color           : rgba(0, 0, 0, .87) !important;
    transition      : box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    padding         : 7px 7px !important;
    border-radius   : 3px !important;
    align-items     : center;
    cursor          : default;
    min-height      : 32px;
    height          : 1px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon,
.mat-chip .mat-chip-remove .mat-icon {
    order          : 2;
    opacity        : 1;
    width          : 13px;
    height         : auto;
    color          : #AAAAAA !important;
    border-radius  : 50%;
    font-size      : 18px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding-right  : 0 !important;
    margin-left    : 5px;
}

.mat-chip-list {
    .mat-standard-chip {
        .mat-chip-remove {
            &.mat-chip-trailing-icon {
                margin-left: 0;
                width      : 18px;
                height     : 13px;
                cursor     : pointer;
                line-height: 1;
                opacity    : 1 !important;

                .mat-icon {
                    font-size  : 14px;
                    line-height: 1.1;
                    height     : 14px;
                }
            }
        }
    }
}

.ng-select {
    flex-grow : 1;
    margin-top: -2px;

    .ng-clear-wrapper {
        width           : 16px !important;
        height          : 16px;
        border-radius   : 50%;
        background-color: #ebebeb;
        display         : flex;
        justify-content : center;
        margin-right    : 6px;

        .ng-clear {
            color    : #aaaaaa;
            font-size: 16px !important;

            &:hover {
                color: #333333;
            }
        }
    }

    .ng-select-container.ng-appearance-outline {
        min-height: 59px !important;
    }

    .ng-select-container {
        .ng-value-container {
            padding: .45em 0 .25em !important;
        }

        .ng-arrow-wrapper {
            display: none;
        }
    }

    .ng-dropdown-panel {
        .ng-dropdown-panel-items {
            .ng-optgroup {
                padding-left: 60px !important;
                color       : #006BB6 !important;

                &:not(:first-child) {
                    border-top : 1px solid #ccc;
                    padding-top: 6px;
                    margin-top : 6px;
                }

                input {
                    display: none;
                }
            }

            .ng-option {
                &.ng-option-selected {
                    color: #333333 !important;
                }

                &.ng-option-child {
                    input {
                        zoom          : 1.4;
                        vertical-align: middle;
                        margin-right  : 5px;
                    }
                }
            }
        }
    }
}

/* spinner */
.uix-spinner-arrows {
    top: -8px !important;
}

.uix-spinner-up {
    top: 13px !important;
}

.uix-spinner-down {
    top: 23px !important;
}

/* fileUploader */
.fileUploader {
    padding-bottom: 1.34375em;
    flex-wrap: nowrap;

    .mat-button-base {
        box-shadow: none !important;
    }

    .clear-button {
        color      : #DC3545;
        cursor     : pointer;
        line-height: 1;

        .mat-icon {
            font-size: 17px;
            height   : auto;
        }
    }

    .fileSize {
        font-weight  : 500;
        position     : relative;
        color        : #006BB6;
        margin-right : 8px;
        padding-right: 10px;

        &:after {
            content         : '';
            position        : absolute;
            top             : 0;
            bottom          : 0;
            width           : 1px;
            height          : 58%;
            background-color: #000000;
            margin          : auto;
            right           : 0;
        }
    }

    .fileupload {
        position : absolute;
        top      : 0;
        right    : 0;
        margin   : 0;
        padding  : 0;
        font-size: 20px;
        cursor   : pointer;
        opacity  : 0;
        filter   : alpha(opacity=0);
        width    : 100%;
        height   : 100%;
        cursor   : pointer;
    }

    .uploadFile {
        cursor: pointer;
    }

    .filename {
        background-color: #fff !important;
        padding   : 0.975rem 0.75rem;
        height          : 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-file-field {
        flex-grow: 1;
        position : relative;

        .dummyphoto {
            position       : absolute;
            left           : 0;
            top            : 0;
            z-index        : 1;
            bottom         : 0;
            display        : flex;
            height         : 100%;
            width          : 44px;
            align-items    : center;
            justify-content: center;
            color          : #006BB6;
        }
    }

    .uploaded-file-details {
        position        : absolute;
        top             : 0;
        bottom          : 0;
        right           : 0;
        height          : 96%;
        margin          : auto;
        display         : flex;
        justify-content : center;
        align-items     : center;
        background-color: #ffff;
    }
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: 1px solid #D6D6D6;
}

.mat-field-style1 .mat-form-field-infix {
    border-top: .4em solid transparent;
}

.mat-field-note {
    margin-top: -15px !important;
    color     : #1D1C1D;
    font-size : 13px !important;
}

/* sliders */
.mat-slider {
    width: 100%;

    .mat-slider-thumb-label {
        display        : none;
        align-items    : center;
        justify-content: center;
        position       : absolute;
        width          : 28px;
        height         : 28px;
        border-radius  : 50%;
        transition     : transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
            border-radius 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
            background-color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &.mat-slider-disabled {
        .mat-slider-track-wrapper {
            width: 99%;
        }

        .mat-slider-thumb {
            background-color: rgba(0, 0, 0, 0.38) !important;
            transform       : scale(0.7) !important;
        }
    }
}

.mat-slider-with-icon {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .mat-slider-horizontal {
        height: 47px;
    }
}

.ngx-slider {
    .ngx-slider-bar {
        background   : #006BB6 !important;
        border-radius: 0 !important;
        opacity      : 0.36;
        height       : 2px !important;
    }

    .ngx-slider-ticks {
        top: 0 !important;
    }

    .ngx-slider-tick {
        width        : 2px !important;
        height       : 2px !important;
        background   : #006BB6 !important;
        border-radius: 0 !important;
    }

    .ngx-slider-span {
        &.ngx-slider-pointer {
            background: transparent;

            &:after {
                width        : 14px;
                height       : 14px;
                top          : 8px;
                left         : 8px;
                border-radius: 50%;
            }

            &:after,
            &:hover:after {
                background: #006bb6;
            }
        }

        &:focus-visible {
            outline: 0;
        }
    }

    &.ngx-floor-ceil-hide {

        .ngx-slider-floor,
        .ngx-slider-ceil {
            opacity: 0 !important;
        }
    }
}

.ngx-slider-bubble {

    &.ngx-slider-model-value,
    &.ngx-slider-model-high {
        color          : #fff !important;
        text-align     : center;
        font-size      : 12px !important;
        width          : 26px;
        display        : flex;
        justify-content: center;
    }

    &.ngx-slider-model-value:before,
    &.ngx-slider-model-high:before {
        content         : '';
        position        : absolute;
        background-color: $bg-primary;
        width           : 26px;
        height          : 26px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        color           : #fff;
        border-radius   : 50% 50% 0;
        transform       : rotate(45deg);
        left            : 0;
        top             : -4px;
        margin          : 0;
        z-index         : -1;
    }
}