th,
td {
    padding: 5px;
    border-bottom: 1px solid #f2f2f2;
    white-space: nowrap;
}

table {
   
}select {
    padding: 7px;
}.amcharts-ampopup-close {
    visibility: hidden !important;
    
}

select {
    margin-bottom:  20px;
  }
.table-container{
    display: flex;
    align-items: flex-end;
}