<mat-card>
    <mat-card-content>
<div class="chartWrapper">
    <div class="chartHeader">
    <div class="row align-items-baseline">
    <div class="col-12">
    <h3>Performance Metrics </h3>
    </div>
    </div>
    </div>
    <div id="piechart3" style="height: 200px; margin: 0 auto;"></div>
    <ul class="piechart3-legend">
    <li>
    <span>98%</span>
    <p>Defect Removal Efficiency<br> (Goal: ≥95%) </p>
    </li>
    <li>
    <span>96%</span>
    <p>On Time Delivery <br>(Goal: ≥95%)</p>
    </li>
    </ul>
    </div>
</mat-card-content>
</mat-card>