<div class="table-chart-container">
  <div id="fi1" style="width: 120%; height: 500px"></div>
  <BR />
  <BR />
  <div class="table1">
    <table >
      <thead>
        <tr>
          <th>Programs</th>
          <th style="background-color: #5585e7">SOW</th>
          <th style="background-color: #b3df56">Consumed</th>
          <th style="background-color: #2ecc71">Forecast</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>IPT</td>
          <td style="background-color: #ddeef9">$647.2k</td>
          <td style="background-color: #eef6c1">$462.0k</td>
          <td style="background-color: #ebfbea">$185.1k</td>
        </tr>
        <tr>
          <td>EU MDR</td>
          <td style="background-color: #ddeef9">$777.5k</td>
          <td style="background-color: #eef6c1">$677.4k</td>
          <td style="background-color: #ebfbea">$100.1k</td>
        </tr>
        <tr>
          <td>GMI</td>
          <td style="background-color: #ddeef9">$132.0k</td>
          <td style="background-color: #eef6c1">$126.2k</td>
          <td style="background-color: #ebfbea">$5.7k</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
