<div class="table-chart-container">
<div id="fi4" style="width: 100%; height: 500px"></div>
<BR />
<BR />
<table  class="table1">
    <thead>
      <tr>
        <th>Programs</th>
        <th style="background-color: #5585e7;">SOW</th>
        <th style="background-color: #7bb6e3;">Consumed Programs</th>
        <th style="background-color:#b3df56 ">Consumed</th>
        <th style="background-color: #2ecc71 ;">Forecast</th>
        
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td >Hercules 3</td>
        <td style="background-color: #ddeef9">$528.5k</td>
        <td style="background-color: #bad2e7;">Hercules</td>
        <td style="background-color: #eef6c1">$528.5k</td>
        <td style="background-color: #ebfbea">$0</td>
      </tr>
      <tr>
        <td >Sappphire-Onyx</td>
        <td style="background-color: #ddeef9" >$278.7k</td>
        <td style="background-color: #bad2e7;" >Sappphire-Onyx</td>
        <td style="background-color: #eef6c1">$278.7k</td>
        <td style="background-color: #ebfbea">$0</td>
      </tr>
     
      
    </tbody>
  </table>
</div>