<div class="table-chart-container">
    <div id="fi35" style="width: 90%; height: 500px"></div>
    <BR />
    <BR />
    <div class="table1">
      <table >
        <thead>
          <tr>
            <th>Programs</th>
            <th style="background-color: #5585e7">SOW</th>
            <th style="background-color: #b3df56">Consumed</th>
            <th style="background-color: #2ecc71">Forecast</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Remote Care</td>
                <td style="background-color: #ddeef9">$172.6k</td>
                <td style="background-color: #eef6c1">$172.6k</td>
                <td style="background-color: #ebfbea">$0</td>
             </tr>   
        </tbody>
      </table>
    </div>
  </div>
  