.site
{
    mask-image: url('../../assets/img/home.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #336699;
}
.program
{
    mask-image: url('../../assets/img/3.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #336699;
}
.invoice {
    mask-image: url('../../assets/img/2.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #336699;
}

.metrics
{
  
    mask-image: url('../../assets/img/9.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #336699;
}



.inventory
{
    mask-image: url('../../assets/img/5.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #336699;
}
.resource
{
    mask-image: url('../../assets/img/4.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #336699;
}

.finacial
{
    mask-image: url('../../assets/img/6.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #336699;   
}
// .Metrics
// {
//     mask-image: url('../../assets/img/metrics.png');
//     mask-size: cover;
//     mask-repeat: no-repeat;
//     // background-color: #336699;    
// }
// .contract
// {
//     mask-image: url('../../assets/img/metrics.png');
//     mask-size: cover;
//     mask-repeat: no-repeat;
// }